.sort {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 20px 40px;
}

.sort button {
	text-align: end;

	background-color: transparent;

	font-size: 1.14rem;
	line-height: 1.57rem;
}

.sort button:focus,
.sort button:hover {
	color: var(--primary-hover);
	text-decoration: underline;
}


.sort svg {
	display: none;
}

.active svg {
	display: inline;

	margin: 0 8px 0 0;
}

.active {
	color: var(--primary);

	font-weight: bold;
}