.inputWrapper {
	position: relative;
}

.input {
	padding: 7px 15px;
	width: 100%;

	transition: border 0.2s ease;

	color: var(--black);
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 5px;
	outline-color: var(--primary);
	background-color: var(--white);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

	font-family: var(--font-family);

	font-size: 16px;
	line-height: 22px;
}

.input::placeholder {
	color: #A4A4A4;
}

.input:focus {
	border: 1px solid var(--primary);
}

.error {
	border: 1px solid var(--tomato);
}

.error:focus {
	border: 1px solid var(--tomato-dark);
}

.errorMessage {
	position: absolute;
	bottom: -18px;
	left: 0;

	color: var(--tomato);
}