/* first level */

.firstLevelList {
	display: grid;
	gap: 20px;
}

.firstLevelLI > a {
	display: grid;
	align-items: center;

	transition: 0.2s color ease;

	color: var(--gray-dark);

	font-size: 1.28rem;
	font-weight: 500;
	line-height: 1.71rem;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firstLevelActive > a,
.firstLevelLI > a:hover,
.firstLevelLI > a:focus {
	color: var(--primary);
}

.firstLevelLI > a svg {
	transition: 0.2s fill ease;
}

.firstLevelActive > a svg,
.firstLevelLI > a:hover svg,
.firstLevelLI > a:focus svg {
	fill: var(--primary);
}

/* second level */

.secondLevelBlock {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;

	margin: 15px 0 0 0;
}

.secondLevelList {
	display: grid;
	gap: 10px;

	padding: 10px 0;
}

.secondLevelLI button {
	width: 100%;

	transition: 0.2s color ease;
	text-align: left;
	text-transform: uppercase;

	color: var(--gray-dark);
	background-color: transparent;

	font-size: 0.85rem;
	font-weight: 300;
	line-height: 1.14rem;
}

.secondLevelLI button .arrow {
	display: inline-block;

	margin: 0 0 0 0.6rem;

	transition: transform 0.2s ease, opacity 0.2s ease;
	transform: translateX(-0.6rem);

	opacity: 0;
}

.secondLevelLI button .arrow svg {
	transition: fill 0.2s ease;
}

.secondLevelLI button:hover,
.secondLevelLI button:focus {
	color: var(--primary);
}

.secondLevelLI button:hover .arrow,
.secondLevelLI button:focus .arrow {
	transform: translateX(0);

	opacity: 1;
}

.secondLevelLI button:hover .arrow svg,
.secondLevelLI button:focus .arrow svg {
	fill: var(--primary);
}

.secondLevelLIOpen button .arrow {
	transform: rotate(90deg);

	opacity: 1;
}

.secondLevelLIOpen button:hover .arrow,
.secondLevelLIOpen button:focus .arrow {
	transform: rotate(90deg);
}

/* third level */

.thirdLevelList {
	display: grid;

	margin: 10px 0 0 20px;
	gap: 10px;
}

.thirdLevelLI a {
	transition: 0.2s color ease;

	color: var(--gray-dark);

	font-size: 1rem;
	font-weight: bold;
	line-height: 1.35rem;
}

.thirdLevelLI a:hover,
.thirdLevelLI a:focus {
	color: var(--primary);
}

.thirdLevelCurrentCategory a {
	color: var(--primary);
}
