.button {
  font-size: 1rem;
  line-height: 1;
  display: inline-block;
  padding: 0.6rem;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  transition: background 0.2s ease, color 0.2s ease;
}

.primary {
  background-color: var(--primary);
  color: var(--white);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.ghost {
  background-color: var(--white);
  border: 1px solid var(--grey-light);
}

.ghost:hover {
  background-color: var(--primary);
  color: var(--white);
}

.arrow {
  display: inline-block;
  margin: 0px 0px 0px 0.6rem;
  transition: transform 0.2s ease;
}

.arrow-down {
  transform: rotate(90deg);
}

.button svg {
  transition: fill 0.2s ease;
}

.primary svg, .ghost:hover svg {
  fill: var(--white);
}