.button {
	display: inline-block;
	padding: 0.6rem;
	cursor: pointer;
	transition: background 0.2s ease, color 0.2s ease;
	text-align: center;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	line-height: 1;
}

.primary {
	color: var(--white);
	background-color: var(--primary);
}

.primary:hover, .primary:focus {
	background-color: var(--primary-hover);
}

.ghost {
	border: 1px solid var(--gray-light);
	background-color: var(--white);
}

.ghost:hover, .ghost:focus {
	color: var(--white);
	background-color: var(--primary-hover);
}

.arrow {
	display: inline-block;
	margin: 0 0 0 0.6rem;
	transition: transform 0.2s ease;
}

.arrow-down {
	transform: rotate(90deg);
}

.button svg {
	transition: fill 0.2s ease;
}

.primary svg, .ghost:hover svg, .ghost:focus svg {
	fill: var(--white);
}