.header {
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px 0px 0px;
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 10;
  background-color: #F5F6F8;
  padding: 30px 15px;
}

.menuClose {
  position: fixed;
  z-index: 11;
  top: 30px;
  right: 15px;
}