.wrapper {
	display: grid;
	gap: 30px;
	grid-template-columns: auto 230px minmax(320px, 1200px) auto;

	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: ". topbar topbar ."". sidebar body .""footer footer footer footer";
}

.topbar {
	grid-area: topbar;

	display: none;
}

.sidebar {
	grid-area: sidebar;
}

.body {
	grid-area: body;
}

.footer {
	grid-area: footer;
}

@media screen and (max-width: 720px) {
	.wrapper {
		grid-template-columns: auto minmax(320px, 720px) auto;
		grid-template-areas: ". topbar ."". body .""footer footer footer";
	}

	.sidebar {
		display: none !important;
	}

	.topbar {
		display: block;
	}
}