.seo {
	font-size: 1.28rem;
	line-height: 2.07rem;

	margin: 0px 0px 30px 0px;
}

.seo h1 {
	font-size: 26px;
	font-weight: bold;
	line-height: 35px;
	margin: 1.2rem 0 0.3rem;
}

.seo h2 {
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
	margin: 1.2rem 0 0.3rem;
}

.seo h3 {
	font-size: 20px;
	font-weight: bold;
	line-height: 27px;
	margin: 0.8rem 0 0.2rem;
}

.seo ul, .seo ol {
	list-style-type: disc;
	margin: 0.5rem 0;
	padding: 0px 0px 0px 35px;
}

.seo ol {
	list-style-type: decimal;
}

.seo ul li {
	list-style: disc !important;
}

.seo ol li {
	list-style: decimal !important;
}

.seo p {
	color: var(--primary);
}