.form {
	display: grid;
	grid-template-columns: [start] auto 1fr auto [end];

	align-items: flex-start;
	gap: 20px 30px;
}

.form input:nth-child(2) {
	justify-self: start;
}

.form .textarea {
	grid-column: start / end;
}

.rating {
	display: flex;
	align-items: center;

	height: 100%;
	gap: 20px;
}

.submit {
	grid-column: start / end;

	display: flex;
	align-items: center;
	gap: 15px;

	flex-wrap: wrap;
}

.submit button {
	width: 148px;
}

.panel {
	position: relative;

	margin: 20px 0 0 0;
	padding: 20px;

	border-radius: 5px;
}

.error {
	background-color: var(--tomato-light);
}

.success {
	background-color: var(--green-light);
}

.successTitle {
	font-weight: bold;
}

.buttonClose {
	position: absolute;
	top: 10px;
	right: 10px;

	width: 20px;
	height: 20px;

	background-color: transparent;
}

.buttonClose:focus {
	box-shadow: 0 0 0 1px var(--green);
}

.errorClose path {
	stroke: var(--tomato-dark);
}

.errorClose:focus {
	box-shadow: 0 0 0 1px var(--tomato-dark);
}

@media screen and (max-width: 1125px) {
	.form {
		grid-template-columns: [start] 1fr 1fr [end];
	}

	.form input {
		width: 100%;
	}

	.form input:nth-child(2) {
		justify-self: stretch;
	}

	.rating {
		grid-column: start / end;
	}
}

@media screen and (max-width: 640px) {
	.form {
		grid-template-columns: [start] 1fr [end];
	}

	.rating {
		grid-column: start / end;
	}
}