.rating {
	position: relative;

	display: flex;

	height: 20px;
	gap: 5px;

	transition: box-shadow 0.2s ease;
}

.rating input {
	position: absolute;

	overflow: hidden;
	clip: rect(0 0 0 0);

	width: 1px;
	height: 1px;
}

.star {
	height: 20px;

	cursor: default;
	transition: fill 0.2s ease;
}

.star.filled {
	fill: var(--primary);
}

.star.editable {
	cursor: pointer;
}

.rating.error svg {
	stroke: var(--tomato);

	transition: stroke 0.2s ease;
}

.rating input:focus + .star.editable,
.star.editable:hover {
	fill: var(--primary-hover);
	stroke: rgba(0, 0, 0, 0);
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 0;

	color: var(--tomato);
}
