.rating {
	display: flex;

	height: 20px;
	gap: 5px;
}

.rating button {
	height: 20px;

	cursor: default;

	background-color: transparent;
}

.star svg {
	transition: fill 0.2s ease;
}

.filled svg {
	fill: var(--primary);
}

button.editable {
	cursor: pointer;
}

.editable:focus svg,
.editable:hover svg {
	fill: var(--primary-hover);
}
