.product {
	display: grid;
	grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratingstart] auto [end];
	margin: 0px 0px 30px 0px;
	padding: 30px;
}

.logo {
	grid-column: start / logoend;
	grid-row: 1 / span 2;
}

.title, .tags {
	grid-column: titlestart / middle;
}

.price, .priceTitle {
	grid-column: pricestart / priceend;
}

.credit, .creditTitle {
	grid-column: creditstart / creditend;
}

.rating, .ratingTitle {
	grid-column: ratingstart / end;
}

.hr {
	background-color: #ccc;
	color: #ccc;
	height: 1px;
}

.description, .hr, .actions {
	grid-column: start / end;
}

.features {
	grid-column: start / middle;
}

.advantages_wrapper {
	grid-column: middle / end;
}